<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Student Page</title>
</head>

<body>
   <nav class="bg-violet-800 py-4 px-6">
       <div class="flex items-center justify-between">
           <a href="{{url_for('Student')}}" class="text-3xl font-bold text-white">XYZSchool</a>
           <div class="text-xl">
               <a href="{{url_for('Student')}}" class="text-white hover:text-gray-800 px-4 py-2"><span
                       class="material-symbols-outlined text-3xl">
                       home
                   </span></a>
               <a href="{{url_for('StudentGrades')}}" class="text-white hover:text-gray-800 px-4 py-2"><span
                       class="material-symbols-outlined text-3xl">
                       summarize
                   </span></a>
               <a href="{{url_for('assignments')}}" class="text-white hover:text-gray-800 px-4 py-2"><span
                       class="material-symbols-outlined text-3xl">
                       assignment
                   </span></a>
               <a href="{{url_for('Profile')}}" class="text-white hover:text-gray-800 px-4 py-2"><span
                       class="material-symbols-outlined text-3xl">
                       account_circle
                   </span></a>
           </div>
       </div>
   </nav>
    <div class="grid grid-cols-6">
        <div class="bg-violet-800 col-span-1 h-screen w-36">
            <div class="flex mt-5 flex-col text-white gap-y-2">
               <a href="{{url_for('Student')}}" class="py-3 text-center shadow-2xl mx-1">Dashboard</a>
               <a href="{{url_for('StudentGrades')}}" class="py-3 text-center shadow-2xl mx-1">Grades</a>
               <a href="{{url_for('assignments')}}" class="py-3 text-center shadow-2xl mx-1">Assignments</a>
               <a href="" class="py-3 text-center shadow-2xl mx-1">Profile</a>
               <button onclick="removeAllCookies()" class="py-3 text-center shadow-2xl mx-1">Logout</button>
            </div>
        </div>
        <div class="col-span-5 p-8">
               
                <div>
                    <label for="name" class="block font-bold text-gray-800 text-2xl">Name</label>
                    <div>{{ grades[0] }}</div>
                   
                </div>
                <div class="grid grid-cols-2 gap-20 mt-20">
                    <div>
                        <label for="test1" class="block font-bold text-gray-800 text-2xl">TEST 1</label>
                        <div id="TEST1" name="TEST1"
                            class="border-b px-4 py-2 rounded-md w-full focus:border-blue-500 focus:outline-none">{{ grades[1] }}</div>
                    </div>
                    <div>
                        <label for="test2" class="block font-bold text-gray-800 text-2xl">TEST 2</label>
                        <div id="TEST2" name="TEST2"
                            class="border-b px-4 py-2 rounded-md w-full focus:border-blue-500
                            focus:outline-none">{{ grades[2] }}</div>
                    </div>
                    <div>
                        <label for="test3" class="block font-bold text-gray-800 text-2xl">TEST 3</label>
                        <div id="TEST3" name="TEST3"
                            class="border-b px-4 py-2 rounded-md w-full focus:border-blue-500 focus:outline-none">
                            {{ grades[3] }}</div>
                    </div>
                    <div>
                        <label for="test4" class="block font-bold text-gray-800 text-2xl">TEST 4</label>
                        <div id="TEST4" name="TEST4"
                            class="border-b px-4 py-2 rounded-md w-full focus:border-blue-500 focus:outline-none">
                            {{ grades[4] }}</div>
                    </div>

                </div>
        </div>
    </div>
   
    </div>
     <script>
         function removeAllCookies() {
             var cookies = document.cookie.split(";");

             for (var i = 0; i < cookies.length; i++) {
                 var cookie = cookies[i];
                 var eqPos = cookie.indexOf("=");
                 var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                 document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/";
             }
             window.location.href = "{{url_for('EnterPassword')}}";
         } // Call the removeAllCookies
     </script>
</body>

</html>
