<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Student Page</title>
</head>

<body>
    <nav class="bg-violet-800 py-4 px-6">
        <div class="flex items-center justify-between">
            <a href="{{url_for('Student')}}" class="text-3xl font-bold text-white">XYZSchool</a>
            <div class="text-xl">
                <!-- Update the links for student pages -->
                <a href="{{url_for('Student')}}"
                    class="text-white hover:text-gray-800 px-4 py-2">Dashboard</a>
                <a href="" class="text-white hover:text-gray-800 px-4 py-2">Courses</a>
                <a href="" class="text-white hover:text-gray-800 px-4 py-2">Grades</a>
                <a href=""
                    class="text-white hover:text-gray-800 px-4 py-2">Assignments</a>
                <a href="" class="text-white hover:text-gray-800 px-4 py-2">Profile</a>
            </div>
        </div>
    </nav>
    <div class="grid grid-cols-6">
        <div class="bg-violet-800 col-span-1 h-screen w-36">
            <div class="flex mt-5 flex-col text-white gap-y-2">
                <a href="{{url_for('Student')}}" class="py-3 text-center shadow-2xl mx-1">Dashboard</a>
                <a href="{{url_for('StudentGrades')}}" class="py-3 text-center shadow-2xl mx-1">Grades</a>
                <a href="" class="py-3 text-center shadow-2xl mx-1">Assignments</a>
                <a href="" class="py-3 text-center shadow-2xl mx-1">Profile</a>
            </div>
        </div>
        <div class="col-span-5 flex items-center justify-center">
            <h1 class="text-4xl font-bold text-gray-800">Welcome to Student Page</h1>
        </div>
    </div>
</body>

</html>
