<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <nav class="bg-violet-800 py-4 px-6">
        <div class="flex items-center justify-between">
            <a href="/" class="text-3xl font-bold text-white">XYZSchool</a>
            <div class="text-xl">
                <a href="{{ url_for('EnterPassword') }}" class="text-white hover:text-gray-800 px-4 py-2">Admin</a>
                <a href="{{ url_for('EnterPassword') }}" class="text-white hover:text-gray-800 px-4 py-2">Parent</a>
            </div>
        </div>
    </nav>
    <div class="grid grid-cols-6">
        <div class="bg-violet-800 col-span-1 h-screen w-36">
            <div class="flex mt-5 flex-col text-white gap-y-2">
                <a href="{{ url_for('StudentsDetails') }}" class="py-3 text-center shadow-2xl mx-1">Student Detail</a>
                <a href="{{ url_for('AddStudents') }}" class="py-3 text-center shadow-2xl mx-1">Add Students</a>
                <a href="{{ url_for('StudentsReport')}}" class="py-3 text-center shadow-2xl mx-1">Student Report</a>
                <a href="{{ url_for('EditStudents') }}" class="py-3 text-center shadow-2xl mx-1">Edit Student</a>
                <a href="{{ url_for('UploadAssignment') }}" class="py-3 text-center shadow-2xl mx-1">Upload
                    Assignments</a>

            </div>
        </div>
        <div class="col-span-5 flex items-center justify-center">
            <form action="{{ url_for('upload_assignment') }}" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept=".pdf,.doc,.docx">
                <button><input type="submit" value="Upload Assignment"></button>
            </form>

    </div>
</body>

</html>
